html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: cursive, monospace, serif;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #81c7a9;
 
  background-size:130px,150px;
}

#main-holder {
  width: 50%;
  height: 80%;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: white;

  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px;
}

#login-error-msg-holder {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

#login-error-msg {
  width: 23%;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #8a0000;
  border: 2px solid #96b080;
  background-color: #bec28d;
  opacity: 0;
}

#error-msg-second-line {
  display: block;
}

#login-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;

}



.login-form-field {
  border: none;
  border-bottom: 1px solid #bf9b97;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 0px 0px 5px 5px;
}

#login-form-submit {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #bec28d;
  cursor: pointer;
  outline: none;
}